#sidebar
  %nav
    :markdown
      * [globale Filmfestival](index)
      * [globale11](current)
      * [globale goes global](global)
      * [Archive](archive)
      * [Contact](contact)
      * [Press](press)
      * [Impressum](impressum)
