#sidebar
  %nav
    :markdown
      * [globale Filmfestival](index)
      * [about](about)
      * [globale goes global](global)
      * [archive](archive)
      * [contact](contact)
      * [press](press)
      * [impressum](impressum)
