%h2#heading About the globale Filmfestival
#content
  :markdown
    ### What is the *globale*? ###

    *globale* is a Berlin-based, non-profit and non-competitive film festival focusing on urgent political topics.

    The *globale* team is a heterogeneous group of activists working on a voluntary basis;
    we meet weekly and are searching for new members!
    We are always open for new collaborators and interested in helping organize *globale* programs in other cities and countries.
    Most of all we are curious about your film submissions.

    For more information and to establish contact please send an email to: <info@globale-filmfestival.org> or use the contact form on our website.


    [moviemento]: http://www.moviemento.de/
    [page]: current
    [booklet]: files/booklets/globale11.pdf
    [program]: files/programs/program2011.jpg
