%h2#heading Archive
#content
  %h3 Programs of the past editions
  :markdown
      * [globale '08](files/programs/globale08.pdf)
      * [globale '07](files/programs/globale07.pdf)
      * [globale '06](files/programs/globale06.pdf)
      * [globale '05](files/programs/globale05.pdf)
      * [globale '03](files/programs/globale03.pdf)
