%h2#heading Archive
#content
  %h3 Programs of the past editions
  :markdown
      * [globale '10](files/booklets/globale10.pdf)
      * [globale '08](files/booklets/globale08.pdf)
      * [globale '07](files/booklets/globale07.pdf)
      * [globale '06](files/booklets/globale06.pdf)
      * [globale '05](files/booklets/globale05.pdf)
      * [globale '03](files/booklets/globale03.pdf)
