%h2#heading globale11
#content
  #languages
    %span#german.language
      %a{ :href => 'german' } Deutsche Version
    %span#separator
      |
    %span#french.language
      %a{ :href => 'french' } Version française
  %h2
    Call for entries | globale Film Festival Berlin 2011
  %h3 When

  :markdown
    The 7th edition of globale Film Festival takes place in Berlin, Germany **3-9 November 2011**.
    Film submissions are accepted until **June 30th, 2011**.

  %h3 What
  :markdown
    We invite filmmakers who use cinema to foreground views, topics and people that market-driven and state-owned media keeps invisible.

    Past festivals films mainly were concerned with precarious lives, migration, media & representation, genetic engineering, gentrification, working conditions, capitalism and crisis.

    In addition we usually focus on one or two countries.

    For detailed information, and in order to get an idea what kinds of films might be interesting for globale, please have a look at [past editions' programmes][archive].

    But, globale is neither restricted to those topics nor to documentary films. So feel free to just give it a try!

    [archive]: archive.html

  %h3 Where to
  :markdown
    Please submit your film on DVD to:  
    **globale Film Festival** | c/o Georg von Rauch-Haus | Mariannenplatz 1A | 10997 Berlin

    Please download the [submission][] form from our website and send it next to some stills from the film either by separate CD or via email: <info@globale-filmfestival.org> .

    [Download Submission Form][submission]

    PLEASE distribute this call for entries. The information is available also as a [bulletin].

    [submission]: files/globale_submission_form.pdf
    [bulletin]: files/globale_bulletin.pdf
