%h2#heading globale11
#content
  :markdown
    ### Program ###

    Please [click here][program] for the program of the *globale11*.

    ### Info ###

    *globale11* will feature thematic blocks on

    * Migration
    * Arab countries
    * Energy crisis
    * Economical crisis
    * Land grabbing and school system in Sub-Saharan Africa
    * Resistance in Latin America
    * Queer identity in India
    * Struggles of the Adivasi people in India
    * Labour conditions
    * Feminist movement
    * Media implosion
    * Deportation of Roma people

    For more information, download the [booklet], or take a look at the [program].
    Past editions' booklets can be found in the [archive].

    ### Addresses ###

    #### Kino Moviemento ####
    Kottbusser Damm 22  
    Kinokasse: 692 47 85

    #### allmende e.V. - Haus alternative Migrationspolitik und Kultur ####
    Kottbusser Damm 25-26 (Vorderhaus)  
    U8 Sch&ouml;nleinstraße | U7 Herrmannstraße

    #### c-base ####
    Rungestraße 20, 2.Hinterhaus  
    S-Jannowitzbr&uuml;cke


    ### Sponsors ###

    The sponsors of the current edition of *globale* are:

    [![attac]{: #attac }][attac-link]
    [![menschen]{: #menschen }][menschen-link]
    [![nord]{: #nord }][nord-link]
    [![rosa]{: #rosa }][rosa-link]
    {: #sponsors }

    [booklet]: files/booklets/globale11.pdf
    [archive]: archive
    [program]: files/programs/program2011.jpg
    [attac]: files/sponsors/attac.jpg
    [menschen]: files/sponsors/menschen.jpg
    [nord]: files/sponsors/nordsuedbruecken.jpg
    [rosa]: files/sponsors/rosaluxemburg.jpg
    [attac-link]: http://www.attac.de
    [menschen-link]: http://www.labournet.de/stiftungMundA/
    [nord-link]: http://www.nord-sued-bruecken.de/
    [rosa-link]: http://www.rosalux.de/
