%h2#heading globale11
#content
  :markdown
    ### info ###

    The **2011** edition of the *globale* will feature thematic blocks on

    * Migration
    * Arab countries
    * Energy crises
    * Economical crisis
    * Land grabbing in Sub-Saharan Africa
    * School system in Sub-Saharan Africa
    * Resistance in Latin America
    * Queer identity in India
    * Adivasi in India
    * Labour conditions
    * Feminist film and movement
    * Media implosion
    * Deportation of Roma people

    For more information, download the [booklet].  
    Past editions' booklets can be found in the [archive]

    ### Addresses ###

    #### Kino Moviemento ####
    Kottbusser Damm 22  
    Kinokasse: 692 47 85

    #### allmende e.V. - Haus alternative Migrationspolitik und Kultur ####
    Kottbusser Damm 25-26 (Vorderhaus)  
    U8 Schönleinstraße | U7 Herrmannstraße

    #### c-base ####
    Rungestraße 20, 2.Hinterhaus  
    S-Jannowitzbrücke

    [booklet]: files/booklets/globale11.pdf
    [archive]: archive
