%h2#heading globale11
#content
  %h2
    Appel à projet
  %h3
    Quand

  :markdown
    La 7e édition du festival de film documentaire *globale* aura lieu à Berlin, Allemagne, **du 3 au 9 Novembre 2011**.
    La date limite de soumission des projets est le 30 Juin 2011.

  %h3
    Quoi

  :markdown
    Nous invitons des réalisateurs qui utilisent le cinéma pour mettre en lumière des sujets et des personnes que le marchés et les médias étatiques gardent invisible.
    Les festivals précédents ont diffusé principalement des films sur la précarité, les migrations, les médias, le génie génétique, la gentrification, les conditions de travail, le capitalisme et la crise.
    Nous nous concentrons d'habitude sur un ou deux pays, mais *globale* ne se restreint ni à ces sujets, ni aux films documentaires. Sentez-vous libre d'envoyer vos projets!

  %h3
    Où envoyer

  :markdown
    Envoyez vos films sur support DVD à:

    *globale* Filmfestival | c/o Georg von Rauch-Haus | Mariannenplatz 1A | 10997 Berlin

    Téléchargez s'il vous plait le [formulaire d'inscription][form] et envoyez nous également quelques photos de votre film sur un CD séparé ou par email.

    Pour plus d'informations, à nous contacter par email: <info@global-filmfestival.org>

    [form]: files/globale_formulaire_d_inscription.pdf
