%h2#heading globale11
#content
  %h2
    Filme gesucht!
  %h3
    Wann

  :markdown
    Das 7. globale Filmfestival Berlin findet vom *3. bis 9. November 2011* statt.
    Für das diesjährige Festival können Filme bis zum 30. Juni eingericht werden.

  %h3
    Was

  :markdown
    Gesucht werden Filme, die Themen, Ansichten und Menschen sichtbar machen, die in marktorientierten und staatlichen Medien keinen Platz finden.
    Themen der letzen globale Festivals waren unter anderem Migration, prekäre Lebenssituation, Medien & Repräsentation, Gentechnik, Gentrifizierung, Arbeitsbedingungen, Kapitalismus und Krise.
    Darüber hinaus gab es meist Länderschwerpunkte. Jedoch der globale ist weder beschränkt auf diese Themen noch auf das Genre des Dokumentarfilms Reicht Eure Filme also einfach ein!

  %h3
    Wohin

  :markdown
    Euren Film sendet Ihr an:

    **globale** Filmfestival | c/o Georg von Rauch-Haus | Mariannenplatz 1A | 10997 Berlin

    Bitte legt das [Einreichungsformular][form] ausgefüllt + einige Szenenbilder entweder als CD bei oder sendet es uns per E-Mail.

    Weitere informationen gern via E-Mail: <info@globale-filmfestival.org>

    [form]: files/globale_einreichungsformular.pdf
