%h2#heading globale goes global
#content
  .festival
    %a{:href => 'http://www.festivalglobale.org/'}
      %img{:src => 'images/globale-mvdo.jpg'}
    :markdown
      ###[Globale Montevideo Uruguay][mvdo]

      In may 2011 the third edition of the documentary film festival Globale will take place in Montevideo and around the capital.

      Globale festival is an instance that aims – through documentary film diffusion and debate generation – to reunite, visualize and confront opinions about globalization related processes with a broad audience.

      This year's topics are: self-organization and resistance, alternative forms of communication, labor conditions, the role of transnational corporations in Latin America and migration and genetic engineering in the agricultural sector.

      [mvdo]: http://www.festivalglobale.org/

  .festival
    %a{:href => 'http://www.festivalglobale.org/'}
      %img{:src => 'images/globale-poland.jpg'}
    :markdown
      ###[Globale Polen][pol]

      Im Oktober 2009 ist die polnische Globale Gruppe entstanden. Wir haben in Warschau angefangen. Die Initiative hat sich schnell auch in Pozna?, Wroc?aw und Lublin entwickelt. Die polnische Gruppe sieht in Polen einen großen Mangel an sozial und politisch engagierten Filminitiativen, die sich eindeutig als links und globalisierungskritisch definieren. Deswegen war es uns besonders wichtig, mit unseren Aktivitäten ein möglichst breites Publikum zu erreichen, einen Diskussionsraum für möglichst viele Interessierte zu schaffen. Wir haben uns entschieden, die Kräfte der Gruppen in verschiedenen polnischen Städten zu verbinden. Jeden Monat organisieren wir eine Filmvorführung mit anschließender Diskussion bzw. Happenings, Workshops. Wir bereiten die Informationen zum entsprechenden Thema auf und bieten Literatur dazu an. Die thematische Veranstaltungen finden in Poznan, Wrocław und Lublin statt. Wir arbeiten an unserer Website und haben vor, mit der Zeit eine große, polnische Ausgabe des Globale Filmfestivals zu organisieren. Wir wollen eine kritische Alternative zu der Mainstreammedien und zum neoliberalen Diskurs anbieten. Mit den Filmen und Diskussionen wollen wir Raum für eine alternative politische Sprache, eine tiefe, gründliche Reflexion über die sozialen Themen und Inspiration zur sozialen Aktion bieten. 
      Wie jede Globale Gruppe arbeiten wir ohne Hierarchien und Machtstrukturen und freuen uns über jede Form Deiner Beteiligung bei Globale Polen. Wenn Du Dich anschließen willst, einen Film gemacht/vorschlagen willst oder eine neue Globale Gruppe in Deiner Stadt gründen willst – kontaktier uns!

      Liberalna demokracja nierozłącznie związana jest z błyskawicznym rozwojem konsumeryzmu. Staje się on filozofią życia i prowadzi do zmiany środków przekazu w narzędzia rozrywki. Konsumpcja i rozrywka wymagają dobrego nastroju, a ów nastrój stwarzają media, usuwając z naszych oczu prawdziwe problemy świata: nędzę, wyzysk, choroby, wojny. Problemy, z którymi borykają się miliardy ludzi na świecie. Dzięki temu łatwo zapomnieć, że ludzie Zachodu to tylko niewielka część ludzkości. Naszej rozrywce towarzyszy wzrost nierówności. Inicjatywa “Globale” powstała po to, aby przerwać ten monotonny przekaz, przedstawić inny obraz świata. Zależy nam na pokazach, które nie kończą się na sali kinowej; chcemy, aby prowokowały do działania. W kapitalistycznym świecie prawa człowieka zazwyczaj ujmowane są w sposób, który odwraca uwagę od najważniejszych kwestii: kto jest odpowiedzialny za zastaną sytuację? Jak można ją zmienić? Inicjatywa globale nie skupia się na przedstawianiu możliwości niesienia doraźnej pomocy; nie interesują nas powierzchowne rozwiązania. Staramy się ujmować problemy w jak najszerszym ujęciu, chcemy skłaniać widzów do refleksji, zmiany poglądów, działania. Każdy blok tematyczny składa się z kilku filmów związanych z wybranym przez nas zagadnieniem, dyskusji, oraz akcji towarzyszących. Zależy nam na aktywnym udziale widzów w całym przedsięwzięciu. Staramy się tworzyć płaszczyznę która umożliwia odjęciedziałań, pragniemy przerwać barierę pomiędzy biernym widzem a uczestnikiem wydarzeń. Nie wystarcza nam pokazywanie ważnych filmów, chcemy wywoływać miany.
      Inicjatywa globale jest otwarta dla wszystkich. Jako zupełnie niezależne kolektywy działamy w 5 miastach Polski oraz za granicą. 
      Jesteśmy grupą ahierarchiczną i, tak jak nie istnieją liderzy grupy, tak też nie ma “głównych” i “pobocznych” oddziałów globale. Jeżeli jesteś zainteresowany/a przyłączeniem się do globale, wspólnym organizowaniem pokazów, akcji, dyskusji itp. wejdź na stronę www.globale.multi.obin.org, zapoznaj się z naszą ideą i dołącz do nas!

      [pol]: http://www.festivalglobale.org/
  
  .festival
    %a{:href => 'http://festivalglobalerio.blogspot.com/'}
      %img{:src => 'images/globale-rio.jpg'}
    :markdown
      ###[Globale Rio de Janeiro (Brasilien)][rio]

      O festival globale é um espaço que propõe, através da organização e exibição de filmes de ficção e documentário, construir momentos de debate com um público amplo sobre temas relacionados aos processos de globalização. É um festival sem fins lucrativos, não competitivo e que, portanto, não entrega prêmios nem cobra taxas de inscrição. globale nasceu em Berlim (Alemanha), em 2003, e segue sendo realizado até hoje com o propósito, inclusive, de que as sedes do festival sigam multiplicando-se, de forma a criar uma rede.
      Atualmente, o globale acontece em três cidades alemãs e também em Montevidéu (Uruguai), desde 2009, e em Varsóvia (Polônia) desde 2010. O Rio de Janeiro terá sua primeira edição em agosto de 2011.
      Os comitês organizadores em cada cidade-sede são compostos por um grupo heterogêneo de pessoas que colaboram de forma solidária na organização do festival. O grupo tem uma gestão horizontal e o compromisso de tomar suas decisões por consenso.
      Se você tembém quiser colaborar ou saber mais sobre a edição carioca do festival globale fale com a gente: globalerio@yahoo.com.br
      
      [rio]: http://festivalglobalerio.blogspot.com/ 

  .festival
    :markdown
      ![Globale Köln](images/globale-koeln.jpg)
      ###Globale Köln

      Das Allerweltskino entstand 1986 aus einem Zusammenschluss von film- und interkulturell interessierten Personen zur "Gruppe Allerweltskino". Ziel war es, Filme aus der sogenannten "Dritten Welt", über die "Dritte Welt" sowie zum interkulturellen Vergleich zu zeigen. Mittlerweile zeigt das Allerweltskino seit 25 Jahren Filme aus anderen Kulturen und fremden Ländern, die auf dem europäischen Kinomarkt nur geringe Chancen haben. Es zeigt sie dort, wo sie hingehören: im Kino. 

      Wir sehen Kino als Raum kritischer Öffentlichkeit und Filme als ein Medium der kollektiven Auseinandersetzung mit Themen der globalisierten Welt. Aus diesem Grund sehen wir die globale als Chance, unsere Arbeit zu vertiefen und politisch engagierte Filme verstärkt in den Vordergrund - und auf die Leinwand - zu bringen.

      Wir freuen uns, im März 2011 zum dritten mal die globale im Off Broadway Kino und im Filmforum NRW präsentieren zu können. Wir möchten, dass sich auch in Köln das Festival zu einer Plattform des politisch motivierten Dokumentarfilms entwickelt und sich als Treffpunkt für unabhängige FilmemacherInnen und MedienaktivistInnen etabliert. Zu ausgewählten Themen werden FilmemacherInnen, AktivistInnen und andere Menschen, die sich in ihrer Arbeit für eine solidarische Welt stark machen, zum Gespräch eingeladen. 

      Auch in Köln soll die globale ein Diskussionsforum und eine Einladung zu
      gemeinsamer Reflexion sein. Aus diesem Grund bieten wir lokalen Bürgerinitiativen, aktiven Gruppen und Organisationen, die zu den in den Filmen behandelten Themen arbeiten, die Möglichkeit, sich im Rahmen der globale zu präsentieren. 

      Wir freuen uns auf eure Teilnahme und auf den Austausch von Erfahrungen und Gedanken – vor und im Kinosaal.

      Kontakt: 
      Karin de Miguel Wessendorf
      karin.de-miguel@allerweltskino.de
      www.allerweltskino.de

      Programm der globale Köln 2011(PDF)

  .festival
    :markdown
      ![Globale Leipzig](images/globale-leipzig.jpg)
      ###Globale Leipzig

      Mit den Filmen der globaLE wollen wir den Blick auf die weltweiten Zusammenhänge und Auswirkungen kapitalistischer Ökonomie lenken. Wir laden Euch herzlich ein, selten gezeigte Seiten globaler Lebenswirklichkeit zu sehen, darüber mit unseren Gästen und uns zu diskutieren und so im Kino einen Raum kritischer Öffentlichkeit zu erschließen. Am 6. Oktober 2010 beginnt die globaLE10. Zum 7. Mal geht das globaLE Filmfestival in Leipzig an den Start. Über einen Zeitraum von zehn Wochen, immer Mittwochs um 20:00 Uhr, zeigen wir in verschiedenen Leipziger Kinos spannende Filme zu globalisierungskritischen Themen, in deren Anschluss mit ReferentInnen diskutiert werden kann. Der Fokus der globaLE10 liegt auf dem Thema Stadt, Stadentwicklung, Freiräume und Selbstverwaltung. Jedoch kommen andere aktuelle Themen wie Energie, Umwelt sowie Proteste nicht zu kurz. Denn urbaner Raum, Ressourcen Nutzung und soziale Auseinandersetzungen stehen im unmittelbaren Zusammenhang.
      Wer Interesse hat, bei uns mitzumachen, möge sich über infos[at]globale-leipzig.de oder das Kontaktformular melden.


  .festival
    :markdown
      ![Globale MittelHessen](images/globale-mittelhessen.jpg)
      ###Globale MittelHessen

      Die Globale Mittelhessen ist ein globalisierungskritisches Filmfestival, welches von verschiedenen Initiativen und engagierten Menschen der Region getragen wird. Ziel des Festivals ist es, mit einem breiten Angebot an Filmen und Veranstaltungen rund um das Thema der Globalisierung, ein Forum für Diskussionen zu schaffen und zum Handeln anzuregen. Neben Gesprächen mit RegisseurInnen und Vorträgen mit ReferentInnen wird das Programm um Musik, Theater, Lesungen und Ausstellungen ergänzt.
