#main
  %h2#heading globale Filmfestival
  #content
    :markdown
      ###What is the *globale*?

      *globale* is a Berlin-based, non-profit and non-competitive film festival focusing on urgent political topics.
      The festival takes place every one and a half years. The next *globale*
      will take place from 3rd to 9th of november 2011.

      The *globale* team is a heterogeneous group of activists working on a voluntary basis;
      we meet weekly and are searching for new members! We are always open for new collaborators and interested in helping organize *globale* programs in other cities and countries.
      Most of all we are curious about your film submissions.

      For more information and to establish contact please send an email to: `info[at]globale-filmfestival.org` or use the contact form on our website.
  #call
    :markdown
      ###Call for entries

      Film submissions are accepted at any time and there is no submission fee.
      In order to get an idea what kind of what kinds of films might be interesting for globale, please check the program selections of earlier years on this website -
      or feel free to just give it a try!

      Please submit your film on DVD or in a common movie file format, along with some information about yourself and the film, to:

      globale Filmfestival  
      c/o Georg von Rauch-Haus  
      Mariannenplatz 1A  
      10997 Berlin  
      Deutschland  

      email: info[at]globale-filmfestival.org  

= render_partial 'sidebar'
