%h2#heading globale11
#content
  :markdown
    ### Sponsors ###

    The sponsors of the current edition of *globale* are:

    [![attac]{: #attac }][attac-link]
    [![eed]{: #eed}][eed-link]
    [![menschen]{: #menschen }][menschen-link]
    [![nord]{: #nord }][nord-link]
    [![rosa]{: #rosa }][rosa-link]
    {: #sponsors }

    ### Program ###

    You can download the [program] of the *globale11*, or the full [booklet].

    ### Info ###

    *globale11* will feature thematic blocks on

    * Migration
    * Arab countries
    * Energy crisis
    * Economical crisis
    * Land grabbing and school system in Sub-Saharan Africa
    * Resistance in Latin America
    * Queer identity in India
    * Struggles of the Adivasi people in India
    * Labour conditions
    * Feminist movement
    * Media implosion
    * Deportation of Roma people

    ### Addresses ###
    The main venue is [Kino Moviemento][moviemento], with workshops planned in [allmende e.V.][allmende] and [c-base].

    #### Kino Moviemento ####
    Kottbusser Damm 22  
    Kinokasse: 692 47 85  
    [http://wwww.moviemento.de][moviemento]

    #### allmende e.V. - Haus alternative Migrationspolitik und Kultur ####
    Kottbusser Damm 25-26 (Vorderhaus)  
    U8 Sch&ouml;nleinstraße | U7 Herrmannstraße  
    [http://allmendeberlin.al.funpic.de][allmende]

    #### c-base ####
    Rungestraße 20, 2.Hinterhaus  
    S-Jannowitzbr&uuml;cke  
    [http://c-base.org][c-base]


    [booklet]: files/booklets/globale11.pdf
    [archive]: archive
    [program]: files/programs/program2011.jpg
    [attac]: files/sponsors/attac.jpg
    [menschen]: files/sponsors/menschen.jpg
    [nord]: files/sponsors/nordsuedbruecken.jpg
    [rosa]: files/sponsors/rosaluxemburg.jpg
    [eed]: files/sponsors/eed.jpg
    [attac-link]: http://www.attac.de
    [menschen-link]: http://www.labournet.de/stiftungMundA/
    [nord-link]: http://www.nord-sued-bruecken.de/
    [rosa-link]: http://www.rosalux.de/
    [eed-link]: http://www.eed.de/
    [moviemento]: http://www.moviemento.de/
    [allmende]: http://allmendeberlin.al.funpic.de/
    [c-base]: http://c-base.org/
