%h2#heading Press

.press
  :markdown
    Here's some pics for you.
    Download the [zip archive][archive].

    ![All for the good of the world and Nosovice][nosovice]
    ![40 Jahre Rauch-Haus][rauchhaus]
    ![Yellow Cake][yellow]
    ![Indian Cowboys][indian]
    ![Gelem Gelem][roma]
    ![Nosotros del bauen][bauen]

    [archive]: files/press/globale11-press.zip
    [nosovice]: files/press/nosovice.jpg
    [rauchhaus]: files/press/rauchhaus.jpg
    [bauen]: files/press/bauen.jpg
    [roma]: files/press/roma.jpg
    [yellow]: files/press/yellow_cake.jpg
    [indian]: files/press/indian_cowboys.jpg
