%h2#heading Press

.press
  :markdown
    All the press material can be downloaded as a [zip archive][archive], including high-quality versions of the pictures and the [booklet].

    ![All for the good of the world and Nosovice][nosovice]  
    **All for the good of the world and Nosovice**
    *Opening Film*

    ![40 Jahre Rauch-Haus][rauchhaus]  
    **Das ist unser Haus**
    *40 Years Rauch-Haus*

    ![Yellow Cake][yellow]  
    **Yellow Cake**
    *Energy Block*

    ![Cowboys in India][indian]  
    **Cowboys in India**
    *India Block*

    ![Gelem Gelem][roma]  
    **Gelem Gelem**
    *Roma Block*

    ![Nosotros del Bauen][bauen]  
    **Nosotros del Bauen**
    *Labour Conditions Block*

    [archive]: files/press/globale11-press.zip
    [booklet]: files/booklets/globale11.pdf
    [nosovice]: files/press/nosovice.jpg
    [rauchhaus]: files/press/rauchhaus.jpg
    [bauen]: files/press/bauen.jpg
    [roma]: files/press/roma.jpg
    [yellow]: files/press/yellow_cake.jpg
    [indian]: files/press/indian_cowboys.jpg
    [seeds]: files/press/seeds.jpg
