%h2#heading Press

.press
  :markdown
    The press pictures can be downloaded as a [zip archive][archive], which also contains the [booklet].

    ![All for the good of the world and Nosovice][nosovice]  
    Opening Film - All for the good of the world and Nosovice

    ![40 Jahre Rauch-Haus][rauchhaus]  
    40 Years Rauch-Haus - Das ist unser Haus

    ![Yellow Cake][yellow]  
    Energy Block - Yellow Cake

    ![Cowboys in India][indian]  
    India Block - Cowboys in India

    ![Gelem Gelem][roma]  
    Roma Block - Gelem Gelem Besetzung der Autobahn Weil am Rhein

    ![Nosotros del bauen][bauen]  
    Labour Conditions Block - Nosotros del Bauen

    [archive]: files/press/globale11-press.zip
    [booklet]: files/booklets/globale11.pdf
    [nosovice]: files/press/nosovice.jpg
    [rauchhaus]: files/press/rauchhaus.jpg
    [bauen]: files/press/bauen.jpg
    [roma]: files/press/roma.jpg
    [yellow]: files/press/yellow_cake.jpg
    [indian]: files/press/indian_cowboys.jpg
