$link-grey: #555
$globale-red: #D80000

body
  font-family: arial, verdana, sans-serif
  font-size: 14px
  a
    color: $globale-red
    text-decoration: none
    img
      border: none
  #sidebar
    a
      color: $link-grey
header
  width: 400px
  margin: 0 auto
#main
  h2#heading
    font-family: verdana, tahoma, arial, sans-serif
    font-weight: normal
    color: $globale-red
  float: right
  width: 82%
  #content
    margin-top: 60px
    p
      position: relative
      left: 8px
    #languages
      .language
        font-style: italic
#sidebar
  float: left
  width: 15%
  ul
    text-align: right
    list-style: none
    padding-top: 0.7em
    a.current
      color: $globale-red
footer
  clear: both
  text-align: center
div.festival
  h3
    color: $globale-red
  img
    width: 180px
  a
    color: $globale-red
img#program
  width: 80%
div.press
  img
    width: 80%
    margin-top: 30px
